# Ignoring articles
*.pdf

# Files of images
data/
samples/
__pycache__

#loss values
losses.csv
select_images.py

#checkpoints/DJS*
checkpoints/DKL*
checkpoints/DrKL*
#checkpoints/GJS*
checkpoints/GKL*
checkpoints/GrKL*
checkpoints/DSH*
checkpoints/GSH*

WGAN.ipynb